body {
  margin: 0;
  background: #0c0c0c;
  font-family: Arial;
}

/* Container that holds BOTH black and white sidebar */
.sidebar-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar-container.open {
  transform: translateX(0);
}

/* LEFT BLACK SIDEBAR */
.sidebar-black {
  width: 260px;
  background: #0a0a0a;
  color: white;
  padding: 20px;
  position: relative;
}

.menu {
  list-style: none;
  margin-top: 40px;
  padding: 0;
}

.menu li {
  margin: 20px 0;
  font-size: 18px;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 20px;
}

.icons span {
  margin-right: 10px;
  font-size: 20px;
}

.footer p {
  color: #ccc;
  font-size: 14px;
}

/* RIGHT WHITE BAR */
.sidebar-white {
  width: 80px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.emoji {
  width: 45px;
  margin-top: 15px;
}

.close-btn {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}

.share {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Open Button */
.openBtn {
 color: #ccc;
  position: fixed;
  left: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}